<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>

		<!--Ralp DB Connection String-->
		<add name="Dbconnection"
             connectionString ="Server=localhost\SQLEXPRESS;Database=Groom_Veterinary_Clinic;Trusted_Connection=True;Encrypt=False;TrustServerCertificate=True;"/>

		<!--Nina DB Connection String-->
	<!--	<add name="Dbconnection"
			connectionString ="server=laptop-aq32rs4t;database=groom_veterinary_clinic;trusted_connection=true;encrypt=false;trustservercertificate=true;"/>  -->

	</connectionStrings>
	
</configuration>